In [279]:
import pandas as pd

df = pd.read_csv('2018_data_simple.csv', encoding='utf-8')

In [287]:
df1 = df[['D_COU','D_GEN','D_AGE','Q11A1']]
df2 = df[['D_COU','D_GEN','D_AGE','Q11A2']]
df3 = df[['D_COU','D_GEN','D_AGE','Q11A3']]

In [288]:
df1.columns = ['COU','GEN','AGE','PLACE']
df2.columns = ['COU','GEN','AGE','PLACE']
df3.columns = ['COU','GEN','AGE','PLACE']

In [289]:
ndf = pd.concat([df1, df2, df3])

In [291]:
ndf = ndf[ndf['PLACE'] != ' ']
ndf['PLACE'] = ndf['PLACE'].astype(int)
ndf = ndf[ndf['COU'].isin([1,2,5,8])]
ndf = ndf.reset_index()

In [274]:
ndf = ndf[['COU','GEN','AGE','PLACE']]
ndf.head()

   COU  GEN  AGE PLACE
0    2    1    5     1
1    2    2    2     1
2    2    2    2     1
3    2    2    3     1
4    5    1    6     1

In [306]:
x = ndf.to_dict()

In [307]:
g = []
for a in ndf['COU'].unique():
    for b in ndf['GEN'].unique():
        for c in ndf['AGE'].unique():
            g.append((a,b,c))

In [308]:
for t in g:
    FLAG = True
    for i in range(len(x['COU'])):
        if(x['COU'][i] == t[0] and x['GEN'][i] == t[1] and x['AGE'][i] == t[2]):
            FLAG = False
            break
    if(FLAG):
        print(t)

In [309]:
place_name = pd.read_csv('Book1.csv', header = None).to_dict()[0]

In [346]:
from collections import Counter
def recommend(a,b,c):
    try:
        d = [x['PLACE'][i] for i in range(len(x['COU']))
            if x['COU'][i] == a and x['GEN'][i] == b and x['AGE'][i] == c]
        c_d = Counter(d).most_common(3)
        print("당신과 유사한 사람들이 좋아하는 관광지")
        r
        for k in c_d:
            print(place_name[k[0]-1])
    except:
        print("잘 모르겠어요!")

In [347]:
'''
나라 (중국 : 1, 일본 : 2, 대만 : 5, 미국 : 8)
성별 (남자 : 1, 여자 : 2)
연령 (15~20 : 1, 21~30 : 2, 31~40 : 3, 41~50 : 4, 51~60 : 5, 61~ : 6)
'''

recommend(1,1,1)

당신과 유사한 사람들이 좋아하는 관광지
명동/ 남대문/ 북창
신촌/ 홍대주변
동대문 패션타운